<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root[ 
<!ELEMENT tonusMedContacts ANY>
<!ATTLIST tonusMedContacts id ID #REQUIRED>
<!ELEMENT tonusMedHomePage ANY>
<!ATTLIST tonusMedHomePage id ID #REQUIRED>
<!ELEMENT tonusMedInformation ANY>
<!ATTLIST tonusMedInformation id ID #REQUIRED>
<!ELEMENT tonusMedMaster ANY>
<!ATTLIST tonusMedMaster id ID #REQUIRED>

]>
<root id="-1">
  <tonusMedHomePage id="1068" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2014-09-25T10:48:05" updateDate="2014-11-06T13:08:16" nodeName="Начало" urlName="начало" path="-1,1068" isDoc="" nodeType="1056" creatorName="Kostadin Kostadinov" writerName="Kostadin Kostadinov" writerID="0" template="1051" nodeTypeAlias="tonusMedHomePage">
    <umbracoNaviHide>0</umbracoNaviHide>
    <title><![CDATA[Начало]]></title>
    <information><![CDATA[<p style="text-align: center;"><strong><img style="width: 118px; height: 89px; float: left;" src="/media/1006/koala.jpg?width=118px&amp;height=89px" alt="undefined" rel="1086" /></strong></p>
<p style="text-align: left;"><strong>Lorem ipsum dolor sit amet, vel dicant ubique aperiri te, quo nominati adversarium suscipiantur et. Et eirmod pericula philosophia mel, cu hinc primis dolorum pri. An possit posidonium mea, quo tacimates iudicabit ne, est et elitr suavitate gloriatur. Putent putant ex eum.</strong></p>
<p style="text-align: left;"><em>Ut soluta equidem has. Ex vix case habeo deseruisse, dicat labitur ex eum. Nec ad vidisse iracundia, ei vim propriae aliquando consequuntur. Eu has corpora urbanitas suscipiantur, ad equidem comprehensam duo.</em></p>
<p style="text-align: left;">Id eam saepe voluptua, eu eirmod tincidunt sed, eu homero probatus referrentur mei. Adhuc solum justo vim ad, eum mucius audire incorrupte ei. Per esse soluta in. Reque doctus neglegentur ut ius, an tale eleifend cotidieque mel. Ne affert apeirian mandamus sea.</p>
<p style="text-align: left;">Et enim mollis sed, mei in laudem ubique adipisci, mea decore sanctus eu. Nec ut nulla paulo, ridens constituto honestatis in eum, in qui paulo affert minimum. Paulo munere persecuti at vix, sententiae interpretaris ad nam. Qui dicit blandit ex. An pri quem electram, in alia mundi nihil duo.</p>
<p style="text-align: left;">Facer <strong>dicant</strong> insolens id sea, vis iudico noluisse te, te nam option vituperatoribus. No tritani nostrum eos. No qui partem ignota periculis. Ex vel alia justo appareat. No harum tincidunt est.</p>]]></information>
    <gallery><![CDATA[1097,1098,1099]]></gallery>
    <siteName><![CDATA[МЕДИЦИНСКИ ЦЕНТЪР ТОНУС ПАЗАРДЖИК]]></siteName>
    <copyright><![CDATA[K.K.]]></copyright>
    <tonusMedInformation id="1081" parentID="1068" level="2" creatorID="0" sortOrder="5" createDate="2014-09-25T11:35:04" updateDate="2014-10-03T15:42:47" nodeName="Дейност" urlName="дейност" path="-1,1068,1081" isDoc="" nodeType="1080" creatorName="Kostadin Kostadinov" writerName="Kostadin Kostadinov" writerID="0" template="1078" nodeTypeAlias="tonusMedInformation">
      <umbracoNaviHide>0</umbracoNaviHide>
      <title><![CDATA[Дейност]]></title>
      <activitiesinformation><![CDATA[<p>Some Description</p>
<p><a href="/umbraco/#media/media/edit/1082"></a><img style="width: 239px; height: 180px; float: right;" src="/media/1002/chrysanthemum.jpg?width=239px&amp;height=180px" alt="undefined" rel="1082" /></p>
<p> </p>
<p><strong>asdasdasdasdasd</strong></p>
<p> </p>
<p><strong>BOLD BOLD BOLD</strong></p>
<p> </p>
<p><em><strong>ITALIC BOLD      </strong></em><em style="font-size: 11px;"><strong><img style="width: 176px; height: 104px;" src="/media/1010/bat.jpeg?width=176px&amp;height=104px" alt="undefined" rel="1090" /></strong></em></p>]]></activitiesinformation>
    </tonusMedInformation>
    <tonusMedContacts id="1096" parentID="1068" level="2" creatorID="0" sortOrder="6" createDate="2014-09-26T15:55:07" updateDate="2014-11-06T17:16:46" nodeName="Контакти" urlName="контакти" path="-1,1068,1096" isDoc="" nodeType="1093" creatorName="Kostadin Kostadinov" writerName="Kostadin Kostadinov" writerID="0" template="1092" nodeTypeAlias="tonusMedContacts">
      <umbracoNaviHide>0</umbracoNaviHide>
      <title><![CDATA[Контакти]]></title>
      <contactemail><![CDATA[tonusmedcentre@gmail.com]]></contactemail>
      <contactsinformation><![CDATA[<p>asdasd</p>
<p> </p>
<p><strong>Email: <em>asdasdasd@adasd.aasdasd</em></strong></p>
<p> </p>
<p><strong>Phone Number: <em>08428342394234</em></strong></p>]]></contactsinformation>
      <maplocation><![CDATA[42.192595453838436,24.339068010620167]]></maplocation>
    </tonusMedContacts>
  </tonusMedHomePage>
</root>